<%- include("partials/header") %>

  <title>Covid centers</title>
  
  <link rel="stylesheet" type="text/css" href="/css/covidCentres.css">



</head>
<body>


<div class="container">
<h1 class="hd mh mb-5">
    Covid Centers
  </h1>

   <div class="content ml-5">
  <h4 class="hr mh mb-3">
    1. Delhi
  </h4>

<div class="accordion" id="accordionExample">
  <div class="card mr-5 rounded">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          State Helpline Number
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
       011-22307145
      </div>
    </div>
  </div>
</div>



  <div class="row">
    <div class="column col-sm 1">
      <p>
    <h6 class="color">Central District</h6>
    Hotel Apra Inn, 15A/61 WEA Colony, Ajmal Khan Road,<br> Karol Bagh<br>
    <span>+911147323421</span>
  </p>

  <p>
    <h6 class="color">East District</h6>
Swami Parmanand Prakritik Chikitsalaya Yoga & Anushandhan Kendra,<br> West Vinod Nagar<br>
    <span>+911122478881</span>
  </p>

  <p>
    <h6 class="color">North District</h6>
    Shrine Hospital, Main Bawana Road, Sector 17, <br>Rohini<br>
    <span>+911147323421</span>
  </p>

  <p>
    <h6 class="color">North West District</h6>
    Khosla Hospital,<br> Shalimar Bagh<br>
    <span>+911127479501</span>
  </p>
    </div>
    <div class="column col-sm 1">
      <p>
    <h6 class="color">South District</h6>
    Beleamonde Hotel, Chhatarpur, Mandir Road, Sahoorpur Extention, Mehrauli, IIPM Satbari Road <br>New Delhi<br>
    <span>+911149845400</span>
  </p>

  <p>
    <h6 class="color">South West District</h6>
    Bensups Hospital,<br> Dwarka<br>
    <span>+911145550000</span>
  </p>
   <p>
    <h6 class="color">West District</h6>
    The Exotica Grand, 1/12, <br>West Patel Nagar<br>
    <span>+911149889900</span>
  </p>
    </div>
  </div> 
   <div> <a href="https://www.google.co.in/maps/d/u/0/viewer?mid=1u0A0IbVH8mzJUhonMyqSzwHPVytsGBbz">Locate Centers on map</a>  </div>
<div>For more information click <a href="https://delhifightscorona.in/testing/">here</a>  </div>

<div class="content mt-5">
  <h4 class="hr mh mb-3">
    2. Maharashtra
  </h4>

<div class="accordion" id="accordionExample">
  <div class="card mr-5 rounded">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          State Helpline Number
        </button>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       020-26127394
      </div>
    </div>
  </div>
</div>






<div class="row">
    <div class="column col-sm 1">
      <p>
    <h6 class="color">AHMEDNAGAR District</h6>
    AIIMS Hospital Ahmednagar,<br> Pin- 414001<br>
  
  </p>

  <p>
    <h6 class="color">AKOLA District</h6>
OZONE Hospital,<br> Akola<br>
  
  </p>

  <p>
    <h6 class="color">AMRAVATI District</h6>
    Panjabrao Deshmukh Medical College, <br>Amravati<br>
    
  </p>

  <p>
    <h6 class="color">AURANGABAD District</h6>
    MGM College Hospital ,<br> AURANGABAD<br>

  </p>
    </div>
    <div class="column col-sm 1">
      <p>
    <h6 class="color">BHANDARA District</h6>
    Covid Hospital ( New MCH Wing Building) , General Hospital
Campus,  <br>Bhandara<br>
   
  </p>

  <p>
    <h6 class="color">BULDHANA District</h6>
    Silvercity Hospital,<br> Khamgaon<br>
   
  </p>
   <p>
    <h6 class="color">CHANDRAPUR District</h6>
    Shivji Hospital & Eeg Center, <br>Chandrapur<br>
  
  </p>
    </div>
  </div> 
  <div> <a href="https://www.google.co.in/maps/d/u/0/viewer?mid=1UeKEYrqNf3yNGaLO9ddXIWZXDrfldU1k&ll=18.436347956905337%2C73.86778389375013&z=6">Locate Centers on map</a>  </div>
<div>For more information click <a href="https://covidindia.org/maharashtra/">here</a>  </div>




<div class="content mt-5">
  <h4 class="hr mh mb-3">
    3. Karnataka
  </h4>

<div class="accordion" id="accordionExample">
  <div class="card mr-5 rounded">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          State Helpline Number
        </button>
      </h2>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       104
      </div>
    </div>
  </div>
</div>






<div class="row">
    <div class="column col-sm 1">
      <p>
    <h6 class="color">Bangalore</h6>
    Cambridge Rd, Cambridge Layout, Jogupalya, Bengaluru,
<br>  Karnataka <br>560007<br>
    
  </p>

  <p>
    <h6 class="color">Kalaburgi</h6>
Veeresh Nagar Cross, Sedam Rd, behind MRMC, Kuvempu Nagar, <br>Gulbarga, <br>Karnataka 585101
    
  </p>

  <p>
    <h6 class="color">Bengaluru</h6>
    Hosur Rd, near Bangalore Milk Dairy, Lakkasandra, Laljinagar, Wilson Garden, Bengaluru,<br> Karnataka<br> 560029
  </p>

  <p>
    <h6 class="color">NCBS, Bengaluru</h6>
   Institute for stem Cell Research and Regenerative Medicine, GKVK Campus, Bellary Road, <br>Bangalore<br>-560 065
  </p>
    </div>
    <div class="column col-sm 1">
      <p>
    <h6 class="color">Dharwad</h6>
   Dharwad-Belgaum Rd, Saidapur,<br> Dharwad,<br> Karnataka 580008
  </p>

  <p>
    <h6 class="color">Shimoga</h6>
  Viral Diagnostic Lab, <br>Shimoga<br>
  </p>
   <p>
    <h6 class="color">Mangalore</h6>
   203, Light House Hill Rd, Hampankatta, Mangalore,<br> Karnataka <br>575001
  </p>
    </div>
  </div> 
 <div> <a href="https://www.google.co.in/maps/d/u/0/viewer?mid=1YMovW5FPiVBGXhh7O-KOunOV6EuG757v&ll=15.75293090267378%2C75.73544806250005&z=6">Locate Centers on map</a>  </div>
<div>For more information click <a href="https://covid19.karnataka.gov.in/page/Testing+Centers/COVID+Testing+Centers/en">here</a>  </div>




<div class="content mt-5">
  <h4 class="hr mh mb-3">
    4. Andhra Pradesh
  </h4>

<div class="accordion" id="accordionExample">
  <div class="card mr-5 rounded">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          State Helpline Number
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
       0866-2410978
      </div>
    </div>
  </div>
</div>







<div class="row">
    <div class="column col-sm 1">
      <p>
    <h6 class="color">ANANTAPUR District</h6>
  Saveera Hospital Pvt Ltd, <br>
  Anantapur
  </p>

  <p>
    <h6 class="color">CHITTOOR District</h6>
Padmavati Medical College, <br>
Tirupati
  </p>

  <p>
    <h6 class="color">GUNTUR District</h6>
   NRI Academy of Sciences
  </p>

  <p>
    <h6 class="color">KRISHNA District</h6>
    Pinnamaneni Institue Of Medical Sciences,<br> Gannavaram
  </p>
    </div>
    <div class="column col-sm 1">
      <p>
    <h6 class="color">KURNOOL District</h6>
   Shantiram Medical College General Hospital
  </p>

  <p>
    <h6 class="color">SRIKAKULAM District</h6>
   GEMS HOSPITAL ADITYA EDUCATION SOCIETY <br> SRIKAKULAM
  </p>
   <p>
    <h6 class="color">VISAKHAPATANAM District</h6>
   Gitam Institute Of Medical Sciences And Research <br>Visakhapatnam
  </p>
    </div>
  </div> 

<div> <a href="https://www.google.co.in/maps/d/u/0/viewer?mid=1tdi23Pi3iTB0QdyozjiZa18gDclDIiTR&ll=16.86044852591834%2C81.45284657187503&z=8">Locate Centers on map</a>  </div>

<div>For more information click <a href="https://covidindia.org/andhra-pradesh/">here</a>  </div>



<div class="content mt-5">
  <h4 class="hr mh mb-3">
    5. Uttar Pradesh
  </h4>

<div class="accordion" id="accordionExample">
  <div class="card mr-5 rounded">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          State Helpline Number
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
       18001805145
      </div>
    </div>
  </div>
</div>




<div class="row">
    <div class="column col-sm 1">
      <p>
    <h6 class="color">Lucknow District</h6>
   KGMC
  </p>

  <p>
    <h6 class="color">Mahrajganj District</h6>
DCH <br>Maharajganj
  </p>

  <p>
    <h6 class="color">Sultanpur District</h6>
    CHC <br>Kurwar
  </p>

  <p>
    <h6 class="color">Rampur District</h6>
   CHC Milak,<br> Rampur
  </p>
    </div>
    <div class="column col-sm 1">
      <p>
    <h6 class="color">Ghazipur District</h6>
   District Hospital<br> Ghazipur
  </p>

  <p>
    <h6 class="color">Varanasi District</h6>
    DDU,ESIC,<br> BHU
  </p>
   <p>
    <h6 class="color">Sant Ravidas Nagar (Bhadohi) District</h6>
    MBS Government Hospital<br> Bhadohi
  </p>
    </div>
  </div> 
  <div> <a href="https://www.google.co.in/maps/d/u/0/viewer?mid=1fsbbipt815l8A3mTicjEzAFExyLZjXET&ll=27.75172182035753%2C78.05369946685094&z=6">Locate Centers on map</a>  </div>
<div><a href="http://dgmhup.gov.in/en/CovidReport"></a> For more information </div>

<div class="mt-4">For list of helpline numbers click <a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">here</a> </div>



</div>
</div>

  <script type="text/javascript">
    $('.collapse').collapse()
  </script>

<%- include("partials/footer") %>