<%- include("partials/header") %>

    <link rel="stylesheet" href="/css/faq.css">
    <title>cases</title>

    </head>
<body>

    <!-- <div class="myDIV text-center">Hover over me.</div>
    <div class="hide text-center">I am shown when someone hovers over the div above.</div> -->

    <div class="container mt-5">
        <h1 id="faq" class="text-center">Frequently Asked Questions</h1>
        <div class="contentWidth">
            <!-- -------------CONTENT--------------- -->
            <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What is COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>COVID-19 is the infectious disease caused by the coronavirus, SARS-CoV-2, which is a respiratory pathogen. WHO first learned of this new virus from cases in Wuhan, People's Republic of China on 31 December 2019</p>
            </div>

            <!-- -------------CONTENT--------------- -->
            <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What are the symptoms of COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>The most common symptoms of COVID-19 are:
 Fever,Dry cough,Fatigue,Other symptoms that are less common and may affect some patients include, Loss of taste or smell,Nasal congestion, Conjunctivitis (also known as red eyes) Sore throat, Headache, Muscle or joint pain, Different types of skin rash, Nausea or vomiting,Diarrhea, Chills or dizziness. Symptoms are usually mild. Some people become infected but only have very mild symptoms or none at all.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What happens to people who get seriously ill?</h2>
            </div>
            <div class="hide text-center">
                <p>Most people (about 80%) recover from the disease without needing hospital treatment. About 20% of those who get COVID-19 become seriously ill and require oxygen, with 5% becoming critically ill and needing intensive care. Complications leading to death may include respiratory failure, acute respiratory distress syndrome (ARDS), sepsis and septic shock, thromboembolism, and/or multiorgan failure, including injury of the heart, liver or kidneys.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">When should I get a test for COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>Anyone with symptoms should be tested, wherever possible. People who do not have symptoms but have had close contact with someone who is, or may be, infected may also consider testing – check with your local health guidelines. While a person is waiting for test results, they should remain isolated from others. Where testing capacity is limited, tests should first be done for those at higher risk of infection.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What test should I get to see if I have COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>In most situations, a molecular test is used to detect SARS-CoV-2 and confirm COVID-19. Polymerase chain reaction (PCR) is the most commonly used molecular test. Samples are collected from the nose and/or throat with a swab. Molecular tests detect virus in the sample by amplifying viral genetic material to detectable levels. For this reason, a molecular test is used to confirm an active infection, usually within a few days of exposure and around the time that symptoms may begin.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What about rapid tests?</h2>
            </div>
            <div class="hide text-center">
                <p>Rapid tests (sometimes known as a rapid diagnostic test – RDT) detect viral proteins (known as antigens). Samples are collected from the nose and/or throat with a swab. These tests are cheaper than PCR and will offer results more quickly, although they are generally less accurate. We are still learning about how well they perform and when to use them.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">I want to find out if I had COVID-19 in the past, what test should I take?</h2>
            </div>
            <div class="hide text-center">
                <p>Antibody tests can tell us whether someone has had an infection in the past, even if they have not had symptoms. Also known as serological tests and usually done on a blood sample, these tests detect antibodies produced in response to an infection. In most people, antibodies start to develop after days to weeks and can indicate if a person has had recent (IgM type antibodies) or past infection (IgG type). Antibody tests cannot be used to diagnose COVID-19 in the early stages of infection or disease.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What is the difference between isolation and quarantine?</h2>
            </div>
            <div class="hide text-center">
                <p>Both isolation and quarantine are methods of preventing the spread of the disease.

Quarantine means restricting activities and/or separating people who are not ill but may have been exposed to COVID-19. The quarantine can take place in a designated facility or at home for 14 days.

Isolation means separating people who are ill with symptoms of COVID-19 and/or have tested positive</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">How long does it take to develop symptoms?</h2>
            </div>
            <div class="hide text-center">
                <p>The time from exposure to COVID-19 to the moment when symptoms begin is, on average, 5-6 days and can range from 1-14 days. This is why people who have been exposed to the virus are advised to stay home, apart from others, for 14 days, in order to prevent the spread of the virus, especially where testing is not easily available.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">What should I do if I have COVID-19 symptoms?</h2>
            </div>
            <div class="hide text-center">
                <p>If you have any symptoms suggestive of COVID-19, contact your health care provider or COVID-19 hotline for instructions and find out when and where to get a test, stay at home for 14 days away from others and monitor your health.

If you have shortness of breath or pain or pressure in the chest, seek medical attention immediately. Call your health care provider or hotline in advance for direction to the right health facility.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">Is there a vaccine for COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>Not yet. Many potential vaccines for COVID-19 are being studied, and several large clinical trials may report results later this year. If a vaccine is proven effective, it must be approved by national regulators, manufactured, and distributed. WHO is working with partners around the world to help coordinate key steps in this process. WHO is working through the ACT-Accelerator to facilitate equitable access to a safe vaccine for the billions of people who will need it.</p>
            </div>

             <div class="myDIV text-center mt-4 mb-0">
                <h2 class="mb-0">Are antibiotics effective in preventing or treating COVID-19?</h2>
            </div>
            <div class="hide text-center">
                <p>Antibiotics do not work against viruses; they only work on bacterial infections. COVID-19 is caused by a virus, so antibiotics do not work. Antibiotics should not be used as a means of prevention or treatment of COVID-19.

In hospitals, physicians will sometimes use antibiotics to prevent or treat secondary bacterial infections which can be a complication of COVID-19 in severely ill patients. They should only be used as directed by a physician to treat a bacterial infection.</p>
            </div>

            <div id="a">
                <h4>References:</h4>
                <p>
                    <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1
            ">https://www.who.int/health-topics/coronavirus#tab=tab_1
            </a>
            </p>
            <p>
            <a href="https://www.who.int/news-room/q-a-detail/coronavirus-disease-covid-19"> https://www.who.int/news-room/q-a-detail/coronavirus-disease-covid-19</a>
            </p>
            </div>

            
        </div>

    </div>
    <%- include("partials/footer") %>