<%- include("partials/header") %>

  <link rel="stylesheet" type="text/css" href="/css/home.css">
  
  <title>Home</title>


</head>

<body>

  <div id="header">
    <h1>Umeed Ki Kiran</h1>
    <h4 style="color: grey;">Selflessness is virtue many claim but only a few possess</h4>
    <!-- <a href="" class="btn btn-lg btn-success">View All Campgrounds</a> -->
</div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
    <%- include("partials/footer") %>