<%- include("partials/header") %>

    <title>Real Life Heroes</title>

    <link rel="stylesheet" type="text/css" href="/css/thankYou.css">

</head>

<body>

<div class="container">

	<img class="all" src="https://img.freepik.com/free-vector/essential-workers-various-occupations-people-wearing-face-masks_218660-228.jpg?size=626&ext=jpg&ga=GA1.2.355482701.1603544696">

	<h2 class="hd mh mb-4" >THANK YOU TO OUR REAL LIFE HEROES</h2>

	<p class="para">
	<strong>A note to all the Selfless Warriors out there</strong> : We are deeply grateful to you for all the sacrifices that you and your family are making to ensure we can all stay safe and healthy.You are truly the heroes of the COVID-19 pandemic. Thank you for being on the front line during this scary time.
	<br>
	We appreciate you all !!
    </p>

    <hr>

	<p>
		The Covid-19 outbreak has brought our lives to a standstill and has confronted the entire world with a crisis like never before, redefining the way we exist. On one hand, people not only in India but around the globe are largely confined to their homes with businesses and educational institutions all shut down in an attempt to contain the virus, and on the other hand doctors, nurses, medical cleaners, pathologists, paramedics, ambulance drivers, medical staff members, policemen have to lead the battle against COVID‑19 from the front. Putting their own lives at risk they have served the people who were strangers to them.  All the frontline warriors are a true epitome of "Humanity", giving their selfless service beyond the call of duty.  Every day, the selfless warriors are giving it their all while cutting themselves off from their families and loved ones. The sacrifice that they are making for the safety and welfare of humanity is priceless and deserves lifelong gratitude on our end.
	</p>




	<div class="row mb-4">
		<img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2020/05/19/crpf-732113751-1585576300.jpg?itok=vAdNvSp5">

		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQalL8U04k-Q_1UCSvZOJBnw5LR3261HgwcYg&usqp=CAU">

		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxnZyIcbdQ0viClGqV6xZOpyqJvOsSz9WpNA&usqp=CAU">

	</div>

	<div class="row mb-4">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrZsKYp6MBJKfu3IBagnKtX_1BN9TlAbMc0A&usqp=CAUhttps://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrZsKYp6MBJKfu3IBagnKtX_1BN9TlAbMc0A&usqp=CAU">
		<img src="https://img.dunyanews.tv/news/2020/March/03-27-20/news_big_images/538492_65956228.jpg">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-aU7i75Muq606Uch55u6Uaq3jctULc0LkrA&usqp=CAU">

	</div>

	
	<p>
		Needless to say, all the frontline warriors against SARS-CoV-2 are particularly more vulnerable to this highly infectious disease. In response to the global pandemic, the under‑resourced doctors, nurses, ward boys and other medical staff are facing unprecedented challenges. In this fight, the brave medical army stands strong with thermometers, stethoscopes, and ventilators as their weapons. They cured so many people putting their own lives at stake, in this process, many of them lost their lives, still, others continued to save the lives of the unknowns.
	</p>

	<p>
		Not to forget, medical researchers are working day in and night out against all odds, hoping to find the antidote to the disease. Even the police department has done a commendable job. All throughout India, local police agencies are tasked with enforcing social distancing, but their activities are much broader. Police officers are also at the forefront of India’s public health campaign, providing information and essential supplies.
	</p>

	<p class="para">
		While they are putting their health and families at risk for us, the least we can do is appreciate their efforts and cooperate by staying safe indoors.
	</p>

	<hr>

<div class='container2'>
	<div class="row">
        <div class="col-12 col-sm-4">
            <img src='https://t4.ftcdn.net/jpg/03/36/22/89/240_F_336228952_AOXdJk3xKEv3uCJWr0V7HWQBj1V8tVzu.jpg' class='iconDetails' style="width:100%; height: auto;">
        </div>  
    <div class="col-12 col-sm-8">
    	<h4 class="hd">Help the heroes who save us</h4>
    <p>To keep our bravehearts safe and prevent our healthcare services from crippling, GiveIndia launches<strong> Mission: Help COVID’s Healthcare Heroes</strong>. This mission aims to protect our daily healthcare heroes with safety kits and PPE kits.
 Your contribution will help them fight COVID safely and more effectively.Join the mission to save our saviours by
<a href="https://fundraisers.giveindia.org/donate/LC5f95810ed48aa#!/amount"><b>donating here</b></a>.
</p>	
  
    </div>
</div>

</div>
</div>

<%- include("partials/footer") %>